# Gradle files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/
!**/src/**/test/**
!**/src/**/androidTest/**
**/.idea/
**/*.iml
**/*.ipr
**/*.iws
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/dictionaries
**/.idea/shelf
**/*.hprof
local.properties
signing.properties
*jnilibs/
buildNumber.properties
captures/
.externalNativeBuild/
.cxx/
local.properties
